#custom section
src/.deps/
src/config.h.in~
src/stamp-h1
src/hexviewer
src/Makefile
config.log
config.status
Makefile
/.vscode

# autoconf
/autom4te.cache

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# I18n stuff
/ABOUT-NLS
/po/*.gmo
/po/*.header
/po/*.mo
/po/*.sed
/po/*.sin
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/Makefile
/po/stamp-po

# compiled resources
/src/resource.c

data/gschemas.compiled
compile_commands.json
data/org.gnome.hexviewer.gschema.valid
